[submodule "pages/claude-learnings"]
	path = pages/claude-learnings
	url = https://github.com/JereIsThere/claude-learnings
	branch = main
[submodule "pages/projekte"]
	path = pages/projekte
	url = https://github.com/JereIsThere/projekte.git
